.elementor-31 .elementor-element.elementor-element-4eb0f73 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:space-between;align-items:space-between;}.elementor-31 .elementor-element.elementor-element-4eb0f73{padding:0px 0px 0px 0px;}.elementor-31 .elementor-element.elementor-element-860f5c3 > .elementor-element-populated{padding:67px 35px 0px 50px;}.elementor-31 .elementor-element.elementor-element-726f177{text-align:left;}.elementor-31 .elementor-element.elementor-element-e65daa3{text-align:left;}.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-vertical .aux-menu-depth-0 .aux-item-content{text-align:left;}.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-menu-depth-0 > .aux-item-content{color:#3D3D3D;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:400;line-height:23px;}.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-menu-depth-0.aux-hover > .aux-item-content {color:#3D3D3D !important;}.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-menu-depth-0{margin:0px 0px 0px -15px;}.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-fs-menu .aux-master-menu{text-align:left;}.elementor-31 .elementor-element.elementor-element-588881e small{color:#AAAAAA;font-family:"Poppins", Sans-serif;font-size:13px;font-weight:400;}@media(max-width:767px){.elementor-31 .elementor-element.elementor-element-4eb0f73{padding:0px 0px 0px 0px;}.elementor-31 .elementor-element.elementor-element-860f5c3 > .elementor-element-populated{padding:67px 35px 67px 50px;}}/* Start custom CSS for aux_logo, class: .elementor-element-726f177 */@media(min-width:768px) {
    .elementor-31 .elementor-element.elementor-element-726f177:after {
    width: 30px;
    margin-top: 30px;
    content: " ";
    height: 3px;
    background-color: #000;
    display: block;
}
}/* End custom CSS */
/* Start custom CSS for aux_menu_box, class: .elementor-element-e65daa3 */.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-menu-label:after{
    content: ' ';
    width: 0;
    height: 2px;
    display: block;
    background-color: #3D3D3D;
    transition: width 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.elementor-31 .elementor-element.elementor-element-e65daa3 a:hover .aux-menu-label:after,
.elementor-31 .elementor-element.elementor-element-e65daa3 .current-menu-item .aux-menu-label:after{
    width: 100%;
}

.elementor-31 .elementor-element.elementor-element-e65daa3 .aux-burger {
    position: absolute;
    right: 0;
    top: -50px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-860f5c3 */@media(min-width:768px) {
    .elementor-31 .elementor-element.elementor-element-860f5c3 {
    max-width: 300px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4eb0f73 */@media(min-width:768px) {
    .elementor-31 .elementor-element.elementor-element-4eb0f73 {
    position: fixed;
    left: 0;
    top: 0;
}
}/* End custom CSS */
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */